<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cobloga</title>
    <link href="~/Content/bootstrapFlatly.css" rel="stylesheet" />
    <link href="~/Content/site/site.css" rel="stylesheet" />
    <link href="~/Content/prism.css" rel="stylesheet" />
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/angular/angular.min.js"></script>
    <script src="~/node_modules/angular-route/angular-route.min.js"></script>
    <script src="~/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <base href="/">
</head>
<body ng-app="app">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Cobloga</a>
            </div>
             <ul class="nav navbar-nav navbar-left">
                 <li><a href="/post/create">New</a></li>
             </ul>
            <ul class="nav navbar-nav navbar-right">
                
                @if (@User.Identity.IsAuthenticated)
                {
                    <li><a href="#"><strong>@User.Identity.Name</strong></a></li>
                    <li><a href="@Url.Action("Logout", "Auth")"> Logout</a></li>

                }
                else
                {
                    <li><a href="@Url.Action("Registration", "Auth")"> Register</a></li>
                    <li><a href="@Url.Action("Login", "Auth")"> Login</a></li>
                }
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    <script src="~/node_modules/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/ui-tinymce/tinymce.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    @Scripts.Render("~/appscripts");
    @RenderSection("scripts", required: false)
</body>

</html>
